body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.container {
  margin-top: 50px;
}

.progress-bar {
  width: 60%;
  height: 30px;
  background: #ddd;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: green;
}